Questions on Strings

In [15]:
text = "I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [6]:
type(text)

str

1> Consider the above text as a string, figure out the average length of the string

2> Lower the text in the string.

In [13]:
text.lower()

' i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

3) Try to get the clean text removing the punctuation from the string.

In [26]:
def Punctuation(string): 
  
    # punctuation marks 
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  
    # traverse the given string and if any punctuation 
    # marks occur replace it with null 
    for x in string.lower(): 
        if x in punctuations: 
            string = string.replace(x, "") 
  
    # Print string without punctuation 
    print(string)

In [27]:
Punctuation(text)

I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

4) Extract word "Data Science" from the string.

In [36]:
' '.join(text.split(sep = " ")[10:12])

'Data Science,'

5) Find the frequency of words used in the string.

In [47]:
def freq(str): 
  
    # break the string into list of words 
    str_list = str.split() 
  
    # gives set of unique words 
    unique_words = set(str_list) 
      
    for words in unique_words : 
        print('Frequency of ', words , 'is :', str_list.count(words))

In [38]:
freq(text)

Frequency of  I is : 3
Frequency of  to is : 3
Frequency of  but is : 1
Frequency of  from is : 1
Frequency of  provided is : 1
Frequency of  articles, is : 1
Frequency of  where is : 1
Frequency of  such is : 1
Frequency of  in is : 3
Frequency of  has is : 1
Frequency of  relevant is : 1
Frequency of  start. is : 1
Frequency of  page. is : 1
Frequency of  the is : 2
Frequency of  make is : 1
Frequency of  Data is : 1
Frequency of  platform is : 1
Frequency of  were is : 1
Frequency of  of is : 1
Frequency of  qualms is : 1
Frequency of  are is : 1
Frequency of  come is : 1
Frequency of  building is : 1
Frequency of  same is : 1
Frequency of  thousands is : 1
Frequency of  all is : 1
Frequency of  keen is : 1
Frequency of  again is : 1
Frequency of  Supervised is : 1
Frequency of  it is : 1
Frequency of  remove is : 1
Frequency of  good is : 1
Frequency of  If is : 1
Frequency of  around is : 1
Frequency of  up is : 1
Frequency of  web is : 1
Frequency of  very is : 1
Frequency of  which is : 1
Frequency of  sure is : 1
Frequency of  a is : 1
Frequency of  others is : 1
Frequency of  mind is : 1
Frequency of  career is : 1
Frequency of  am is : 1
Frequency of  few is : 1
Frequency of  throws is : 1
Frequency of  confused, is : 1
Frequency of  Science, is : 1
Frequency of  search is : 1
Frequency of  me is : 3
Frequency of  not is : 1
Frequency of  wrangling is : 1
Frequency of  my is : 2

6) Fetch the duplicate pairs used in the string.

In [48]:
def freq_dup(str): 
  
    # break the string into list of words 
    str_list = str.split() 
  
    # gives set of unique words 
    unique_words = set(str_list) 
      
    for words in unique_words : 
        if(str_list.count(words)) == 2:
            print('Duplicate pair are', words, str_list.count(words))

In [49]:
freq_dup(text)

Duplicate pair are the 2
Duplicate pair are my 2

7) Can you change the word "Supervised" to "Unsupervised" in the string

In [50]:
text.replace('Supervised', 'Unsupervised')

'I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

8) Splitting of the string with a dot operator(.)

In [52]:
text.split(sep = '.')

['I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

9) Find the words from the string which ends with "e"

In [60]:
def ends_with_e(str): 
  
    # break the string into list of words 
    str_list = str.split()  
      
    for words in str_list : 
        if(words.endswith('e')) is True:
            print('Words ending with e are', words)

In [61]:
ends_with_e(text)

Words ending with e are sure
Words ending with e are where
Words ending with e are the
Words ending with e are me
Words ending with e are are
Words ending with e are make
Words ending with e are me
Words ending with e are come
Words ending with e are the
Words ending with e are same
Words ending with e are me
Words ending with e are remove
Words ending with e are were

10) Figure out number of a's used in the string.

In [77]:
count = 0
  
for i in text: 
    if i == 'a': 
        count = count + 1
print(count)

22

 Questions on Dictionary

In [ ]:
#In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

1) Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

In [84]:
Commodities_dict = {'Apple':'250g','Sugar':'500g','Rice':'2.5 kg','Milk':'2.5 litres','Egg':'1 dozen'}
print(Commodities_dict)

{'Sugar': '500g', 'Apple': '250g', 'Egg': '1 dozen', 'Rice': '2.5 kg', 'Milk': '2.5 litres'}

2) I forgot to mention another item, 1kg of atta packet. Can you also add it ?

In [87]:
Commodities_dict = {'Apple':'250g','Sugar':'500g','Rice':'2.5 kg','Milk':'2.5 litres','Egg':'1 dozen','Atta':'1 kg'}
print(Commodities_dict)

{'Apple': '250g', 'Milk': '2.5 litres', 'Egg': '1 dozen', 'Sugar': '500g', 'Rice': '2.5 kg', 'Atta': '1 kg'}

3) Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

In [88]:
Commodities_dict = {'Apple':'250g','Sugar':'500g','Rice':'1 kg','Milk':'2.5 litres','Egg':'1 dozen','Atta':'1 kg'}
print(Commodities_dict)

{'Apple': '250g', 'Milk': '2.5 litres', 'Egg': '1 dozen', 'Sugar': '500g', 'Rice': '1 kg', 'Atta': '1 kg'}

4) Can you list out all these items using a loop.

In [96]:
for item in Commodities_dict.items():
    print(item)

('Apple', '250g')
('Milk', '2.5 litres')
('Egg', '1 dozen')
('Sugar', '500g')
('Rice', '1 kg')
('Atta', '1 kg')

However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.
Create another dictionary for pricing.

In [98]:
commodities_prices_dict = {'Apple':220,'Sugar':43,'Rice':45,'Milk':30,'Egg':60}
print(commodities_prices_dict)

{'Sugar': 43, 'Apple': 220, 'Egg': 60, 'Rice': 45, 'Milk': 30}

Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !

In [233]:
Commodities_dict = {'Apple':0.25,'Sugar':0.5,'Rice':1,'Milk':2.5,'Egg':1,'Atta':1}

In [235]:
 price = 0
for i in Commodities_dict.keys():
    price = price + ((Commodities_dict[i]) * commodities_prices_dict[i])
print(price)

256.5

Questions on List

In [249]:
AI_Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

1) Sort the list in ascending order

In [238]:
AI_Companies.sort()
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

2) Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

In [239]:
AI_Companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

3) Lower the list using List comprehension

In [247]:
AI_Companies = [i.lower() for i in AI_Companies]
AI_Companies

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm',
 'reliance']

4) Elimiate 'Reliance' from the list

In [248]:
AI_Companies.pop()
AI_Companies

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm']

5) Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [251]:
AI_Companies[1:6:2]

['Facebook', 'Google', 'Microsoft']

Questions on Tuple

1) Consider the above standard price problem statement and place the prices in the form of the tuple.

In [254]:
prices_tup = 220,43,45,30,60

In [255]:
type(prices_tup)

tuple

2) Find out the min and max price among them.

In [256]:
print('Max of prices is',max(prices_tup),'and min of prices is',min(prices_tup))

Max of prices is 220 and min of prices is 30

3) Also, convert the above "AI_companies" list to a tuple

In [257]:
AI_Companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime']

In [270]:
AI_Companies_tup = tuple(AI_Companies)
print(AI_Companies_tup)

('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

4) Combine two above tuples to a single tuple.

In [273]:
print(prices_tup + AI_Companies_tup)

(220, 43, 45, 30, 60, 'Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

5) Compare the length of two tuples.

In [276]:
len1 = print(len(prices_tup))
len2 = print(len(AI_Companies_tup))

5
7